[submodule "deps/mor"]
	path = deps/mor
	url = https://github.com/d3roch4/mor
[submodule "deps/boost-cmake"]
	path = deps/boost-cmake
	url = https://github.com/d3roch4/boost-cmake
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
